<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
  </head>
  <body>
    <h3 style="color:red">ATTENTION: You have invalid RSS Resource</h3>
    <p>Please login to your admin and update the following information:</p>
       Name     : <%= @feed_info.title %><br />
       Address  : <%= @feed_info.address %><br />
    <p>Best Regards,</p>
    <p>FastND Support</p>
  </body>
 </html>
